:root {
  --scenePerspective: 1;
  --scenePerspectiveOriginX: 50;
  --scenePerspectiveOriginY: 30;
  --itemZ: 1;
  --cameraSpeed: 150;
  --cameraZ: 0;
  --viewportHeight: 0;
}

.viewport {
  height: calc(var(--viewportHeight) * 1px);
}

.viewport .scene3D-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  perspective: calc(var(--scenePerspective) * var(--cameraSpeed) * 1px);
  perspective-origin: calc(var(--scenePerspectiveOriginX) * 1%) calc(var(--scenePerspectiveOriginY) * 1%);
  will-change: perspective-origin;
  transform: translate3d(0, 0, 0);
}

.viewport .scene3D-container .scene3D {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  transform-style: preserve-3d;
  transform: translateZ(calc(var(--cameraZ) * 1px));
  will-change: transform;
}

.viewport .scene3D-container .scene3D>div {
  position: absolute;
  display: block;
  width: 100%;
  top: 40%;
}

@media only screen and (min-width: 600px) {
  .viewport .scene3D-container .scene3D>div {
    /* width: 45%; */
    width: 35%;
  }
}

.viewport .scene3D-container .scene3D>div:nth-child(2n) {
  left: 0;
}

.viewport .scene3D-container .scene3D>div:nth-child(2n+1) {
  right: 0;
}

.viewport .scene3D-container .scene3D>div:nth-child(0) {
  transform: translate3D(16%, 41%, calc(var(--itemZ) * var(--cameraSpeed) * 0 * -1px));
}

.viewport .scene3D-container .scene3D>div:nth-child(1) {
  transform: translate3D(-11%, -45%, calc(var(--itemZ) * var(--cameraSpeed) * 1 * -1px));
}

.viewport .scene3D-container .scene3D>div:nth-child(2) {
  transform: translate3D(-16%, 46%, calc(var(--itemZ) * var(--cameraSpeed) * 2 * -1px));
}

.viewport .scene3D-container .scene3D>div:nth-child(3) {
  transform: translate3D(20%, -49%, calc(var(--itemZ) * var(--cameraSpeed) * 3 * -1px));
}

.viewport .scene3D-container .scene3D>div:nth-child(4) {
  transform: translate3D(-22%, 21%, calc(var(--itemZ) * var(--cameraSpeed) * 4 * -1px));
}

.viewport .scene3D-container .scene3D>div:nth-child(5) {
  transform: translate3D(-16%, 29%, calc(var(--itemZ) * var(--cameraSpeed) * 5 * -1px));
}

.viewport .scene3D-container .scene3D>div:nth-child(6) {
  transform: translate3D(-23%, 18%, calc(var(--itemZ) * var(--cameraSpeed) * 6 * -1px));
}

.viewport .scene3D-container .scene3D>div:nth-child(7) {
  transform: translate3D(-13%, -35%, calc(var(--itemZ) * var(--cameraSpeed) * 7 * -1px));
}

.viewport .scene3D-container .scene3D>div:nth-child(8) {
  transform: translate3D(-23%, 26%, calc(var(--itemZ) * var(--cameraSpeed) * 8 * -1px));
}

.viewport .scene3D-container .scene3D>div:nth-child(9) {
  transform: translate3D(20%, -21%, calc(var(--itemZ) * var(--cameraSpeed) * 9 * -1px));
}

.viewport .scene3D-container .scene3D>div:nth-child(10) {
  transform: translate3D(14%, -48%, calc(var(--itemZ) * var(--cameraSpeed) * 10 * -1px));
}

.viewport .scene3D-container .scene3D>div:nth-child(11) {
  transform: translate3D(-5%, -35%, calc(var(--itemZ) * var(--cameraSpeed) * 11 * -1px));
}

.viewport .scene3D-container .scene3D>div:nth-child(12) {
  transform: translate3D(2%, 27%, calc(var(--itemZ) * var(--cameraSpeed) * 12 * -1px));
}

.viewport .scene3D-container .scene3D>div:nth-child(13) {
  transform: translate3D(4%, 28%, calc(var(--itemZ) * var(--cameraSpeed) * 13 * -1px));
}

.viewport .scene3D-container .scene3D>div:nth-child(14) {
  transform: translate3D(-5%, -25%, calc(var(--itemZ) * var(--cameraSpeed) * 14 * -1px));
}

.viewport .scene3D-container .scene3D>div:nth-child(15) {
  transform: translate3D(-22%, -44%, calc(var(--itemZ) * var(--cameraSpeed) * 15 * -1px));
}

.viewport .scene3D-container .scene3D>div:nth-child(16) {
  transform: translate3D(-7%, -30%, calc(var(--itemZ) * var(--cameraSpeed) * 16 * -1px));
}

.viewport .scene3D-container .scene3D>div:nth-child(17) {
  transform: translate3D(8%, 49%, calc(var(--itemZ) * var(--cameraSpeed) * 17 * -1px));
}

.viewport .scene3D-container .scene3D>div:nth-child(18) {
  transform: translate3D(-1%, 7%, calc(var(--itemZ) * var(--cameraSpeed) * 18 * -1px));
}

.viewport .scene3D-container .scene3D>div:nth-child(19) {
  transform: translate3D(2%, -48%, calc(var(--itemZ) * var(--cameraSpeed) * 19 * -1px));
}

.viewport .scene3D-container .scene3D>div:nth-child(20) {
  transform: translate3D(19%, 48%, calc(var(--itemZ) * var(--cameraSpeed) * 20 * -1px));
}

.viewport .scene3D-container .scene3D>div:nth-child(21) {
  transform: translate3D(23%, -47%, calc(var(--itemZ) * var(--cameraSpeed) * 21 * -1px));
}

.viewport .scene3D-container .scene3D>div:nth-child(22) {
  transform: translate3D(15%, 38%, calc(var(--itemZ) * var(--cameraSpeed) * 22 * -1px));
}

.viewport .scene3D-container .scene3D>div:nth-child(23) {
  transform: translate3D(-20%, 25%, calc(var(--itemZ) * var(--cameraSpeed) * 23 * -1px));
}

.viewport .scene3D-container .scene3D>div:nth-child(24) {
  transform: translate3D(-6%, -46%, calc(var(--itemZ) * var(--cameraSpeed) * 24 * -1px));
}

.viewport .scene3D-container .scene3D>div:nth-child(25) {
  transform: translate3D(-12%, -4%, calc(var(--itemZ) * var(--cameraSpeed) * 25 * -1px));
}

/* ------ scroll bar ------------- */
::-webkit-scrollbar {
  width: 5px;
  background: #ED1F7D;
}

::-webkit-scrollbar-thumb {
  background: #F9A358;
}

/*--------- - regular styles ---------------*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

html, body {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

body {
  font-family: "Cabin Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-image: url('../images/bkgnd.jpg');
  background-size: 100% 93.5%;
  color: #272935;
  scrollbar-width: none;
  overscroll-behavior: none;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* background: #5D00B4; */
}

h1 {
  font-family: "Cabin Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.5rem;
  margin: 0;
  bottom: 1rem;
  left: 1rem;
  text-align: center;
}

h2 {
  margin-top: 0;
  font-family: "Cabin Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.5rem;
}

a {
  transition: .3s all ease;
}

a:hover {
  color: #FAFAF9;
}

a, a:hover {
  /* text-decoration: none !important; */
}

a img, button img {
  opacity: 1;
  transition: .3s all ease;
}

a:hover img, button:hover img {
  opacity: .9
}

.scene3D>div {
  padding: 2rem;
}

.scene3D>div {
  background: transparent;
  border: none;
}

.scene3D>div img {
  border: 1px solid rgba(0, 0, 0, .25);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 50%
}

.iconMapContent {
  position: absolute;
  right: 1rem;
  top: 1rem;
  z-index: 2
}

.stickyMap {
  position: fixed;
  top: 1rem;
  z-index: 2
}

.navbar {
  position: absolute;
  margin: 0 3rem;
  padding: 0;
}

.container-fluid {
  padding: 0;
}

.navbar-nav .nav-link {
  padding-right: 2rem;
  padding-left: 2rem;
}

.navbar ul li a {
  font-family: "Cabin Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.01em;
  color: #5D00B4;
  padding: 3rem 1.5rem !important;
}

.navbar ul li a green {
  font-style: italic;
  font-weight: 400;
  color: #2EE002;
  margin-left: 3rem;
}

.navbar ul li a green::before {
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #2EE002;
  margin-left: -1.5rem;
  margin-top: 0.5rem;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
  font-weight: 700;
  color: #5D00B4;
  background: #F3ED52;
}

.navbar-light .navbar-nav .nav-link {
  color: #5D00B4;
}

.navbar .logoContent {
  padding: 0 3rem;
}

.stickyMenu {
  position: fixed;
  bottom: 0;
  z-index: 2
}

.iconMapContent a {
  text-decoration: none;
}

.textMap {
  display: inline;
  margin-right: .5rem;
  font-family: "Cabin Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  text-align: center;
}

.content {
  position: absolute;
  background: #FFFFFF;
  padding: 3rem 0 0;
  z-index: 10
}

.section {
  margin-top: 3rem;
}

.section:first-child {
  margin-top: 0;
}

.section:last-child-child {
  margin-bottom: 3rem;
}

footer {
  padding: 5rem 3rem;
  background: white;
  border: none;
}

footer ul li.list-group-item {
  border: none;
  font-family: "Cabin Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.01em;
  color: #5D00B4;
  padding: 0.5rem 1.5rem;
}

footer ul li.list-group-item green {
  font-style: italic;
  font-weight: 400;
  color: #2EE002;
  margin-left: 3rem;
}

footer ul li.list-group-item green::before {
  position: absolute;
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #2EE002;
  margin-left: -1.5rem;
  margin-top: 0.5rem;
}

.col-4 img {
  float: right;
}

/* ------ modal content ------ */
body.modal-open> :not(.modal) {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}

.cardModal .closeModal {
  position: absolute;
  z-index: 10;
  top: 0.5rem;
  right: 0.5rem;
  width: 30px;
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
}

.cardModal .modal-content {
  background-color: transparent;
  /* border: 1px solid rgba(0, 0, 0, .2);*/
  border: none;
  border-radius: 0.3rem;
}

.cardModal .modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 0;
}

.cardModal .modal-body .row {
  /* min-height: 40vh; */
}

.cardInfo {
  background: #48B8D2;
  padding: 2rem 1.5rem;
}

.cardImage {
  padding-left: 0
}

.cardImage img {
  object-fit: cover;
  height: 100%;
}

.cardModal p {
  font-family: "Inter Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: -0.01em;
  color: #1E3A44;
  margin: 0;
}

.cardModal h1 {
  ont-family: "Cabin Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 37px;
  letter-spacing: -0.01em;
  color: #1E3A44;
  text-align: left;
  position: absolute;
  bottom: 2rem;
}

.cardModal h1 regular {
  font-family: "Cabin Regular", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-weight: 400;
}

.cardModal h2 {
  font-family: "Cabin Bold", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem;
  letter-spacing: -0.01em;
  color: #1E3A44;
  margin: 0;
}

@media (min-width: 800px) {
  .modal-dialog {
    max-width: 750px;
    margin: 1.75rem auto;
  }
}

@media (min-width: 1600px) {
  .navbar ul li a {
    padding: 4rem 2rem !important;
  }
}
